<style>
    @font-face {
        font-family: 'LibreBaskerville-Bold';
        src: url('res/LibreBaskerville-Bold.ttf') format('ttf');
    }

    @font-face {
        font-family: 'LibreBaskerville-Regular';
        src: url('res/LibreBaskerville-Regular.ttf') format('ttf');
    }

    body {
        margin: 40px auto;
        max-width: 650px;
        line-height: 1.6;
        font-size: 18px;
        color: #444;
        padding: 0 10px;
        background-color: #eee;
        font-family: 'LibreBaskerville-Regular', serif;
    }

    h1,
    h2,
    h3 {
        font-family: 'LibreBaskerville-Bold', serif;
        line-height: 1.2
    }
</style>